/* Color Template */

.color-primary {
  color: $color-primary;
}

.color-primary-bg {
  background: $color-primary;
}

.color-second {
  color: $color-second;
}

.color-second-bg {
  background: $color-second;
}

.color-third {
  color: $color-third;
}

.color-third-bg {
  background: $color-third;
}

.color-yellow {
  color: $color-yellow;
}

.color-yellow-bg {
  background: $color-yellow;
}

.text-blogs-color {
  color: $color-blue;
  font-weight: 600;
}

.color-grey-bg {
  background: $color-grey;
}

.color-dark-bg {
  background: $color-dark;
}

.color-gold-bg {
  background: $color-gold;
}

.p-text-color {
  color: $p-text-color;
}