$font-baloo: "Baloo Thambi 2", cursive;
$font-raleway: "Raleway", cursive;
$font-rubik: "Rubik", cursive;
$font-roboto: "Roboto", cursive;
$color-primary: #fc5c65;
$color-second: #4b7bec;
$color-third: #182C61;
$color-yellow: #f7b731;
$color-blue: #130f40;
$color-grey: #CAD3C8;
$color-dark: #2C3A47;
$color-gold: #f7d794;
$p-text-color: #3d3d3d;
$button-color-bg: #FFC0CB;